.home-banner {
  border: 2px solid grey;
  padding: 15px;
  text-align: center;
  font-size: 16px;

  p:first-child {
    color: red;
  }

  p:nth-child(2) {
    color: orange;
  }

  p:nth-child(3) {
    color: yellow;
  }

  p:nth-child(4) {
    color: green;
    font-size: 32px;
    margin-top: 40px;
  }
}

.home-slogan {
  text-align: center;
  margin: 20px 0;
  font-size: 20px;
}

.home-buttons {
  margin: 0 auto;
  width: 260px;
}

.home-btn {
  padding: 10px;
}
