.phone-card {
  min-height: 200px;
  margin-bottom: 20px;

  &-image {
    width: 100%;
    height: 200px;
  }

  &-desc {
    border: 2px solid grey;
    padding: 5px;
  }

  &-price {
    display: inline-block;
    font-size: 20px;
  }
}

.phone {
  min-height: 200px;

  &-image {
    width: 100%;
    height: 200px;
  }

  &-desc {
    border: 2px solid grey;
    padding: 5px;
  }

  &-price {
    font-size: 20px;
  }
}

#phone-modal input:invalid {
  border: 1px solid red;
}
